.card {
  background: #fff;
  border-radius: 5px;
  height: 250px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px rgb(62, 61, 61), 0 3px 6px rgb(14, 13, 13);
  text-align: center;
}
.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: rgb(60,12,97);
background: linear-gradient(0deg, rgba(60,12,97,1) 0%, rgba(102,35,184,1) 100%);
}
.card > .img-container > img {
  width: 60%
}
.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}
img {
  margin: auto;
  padding: 25px;
  text-align: center;
  vertical-align: middle;
}