.gameScore {
  text-align: right;
  height: 70px;
  position: relative;
  line-height: 1em;
  padding: 0;
  margin: 0;
}
h3.score {
  margin-top: 5px;
  padding: 0;
  font-weight: 600;
  margin-right: 50px;
}
h3.status {
  margin: 0;
  padding: 0;
  color: rgb(22, 4, 37);
  margin-right: 50px;
}
